#e404 {
    display: block;
    background-color: #3df7565e;
    padding: 100px;
    margin-bottom: 20px;

    h3 {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    p {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    a {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}