@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');

.title {
    font-family: 'Raleway', sans-serif;
}

.nav-btn {
    margin-right: 20px;
}

@media screen and (max-width: 991px) {
    .nav-btn {
        margin-bottom: 10px;
        display: block;
    }
}