<nav class="navbar navbar-expand-lg navbar-dark p-3 fixed-top w-100" style="background-color: #3df755;">
    <div class="container-fluid">
        <img 
            src="../../favicon.ico" 
            alt=""
            width="60" 
            height="60" 
            class="d-inline-block align-text-top"
        >
        <a class="navbar-brand title" href="javascript:void(0);" [routerLink]="['/']">
            GiGi's Delivery
        </a>
        <button 
            class="navbar-toggler" 
            type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" [routerLink]="['/registrati']">Ordina</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#patners">Patners</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" [routerLink]="['/rider']">Diventa un Rider</a>
                </li>
            </ul>
            <span class="navbar-text">
                <a [routerLink]="['/registrati']" href="javascript:void(0);" class="btn btn-outline-danger nav-btn">Registrati</a>
                <a [routerLink]="['/accedi']" href="javascript:void(0);"  class="btn btn-outline-primary nav-btn">Accedi</a>
            </span>
        </div>
    </div>
</nav>