<section id="about-intro">
    <br><br><br><br>
    <div class="card bg-dark text-white container">
        <img src="../../assets/images/backgrounds/background-about.png" height="600px" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title title">GiGi's Delivery</h5>
          <p class="card-text">Ordinare non é mai stato cosí semplice, dopo qualche click il tuo ordine stará per arrivare davanti a casa tua! Da noi avrai sicurezza, velocitá e professionalitá!</p>
          <div class="about-btn">
            <a href="#chisiamo" type="button" class="btn btn-success">Scopri di piú</a>
          </div>
        </div>
    </div>
</section>
<section id="chisiamo">
    <br><br>
    <div id="about">
        <div class="space"></div>
        <br><br>
        <div class="row row-cols-1 row-cols-md-2 g-4 cards">
            <div class="col">
              <div class="card" style="height: 480px;">
                <img src="../../assets/images/backgrounds/delivery.jpg" height="300" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="margin-top: 0;">Chi Siamo</h5>
                  <p class="card-text">Siamo un'azienda di delivery, effetuiamo consegne a domicilio in moltissime cittá italiane.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="height: 480px;">
                <img src="../../assets/images/backgrounds/riders.jpg" height="300" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="margin-top: 0;">I Nostri Riders</h5>
                  <p class="card-text">Assumiamo solo i riders piú qualificati! Effettuano consegne rapide e sicure! In poco tempo quello che hai ordinato sará dvanti alla tua porta d'ingresso!</p>
                  <a href="javascript:void(0);" [routerLink]="['/rider']" class="btn btn-primary">Diventa un Rider</a>
                </div>
              </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="space"></div>
    <br><br>
</section>
