.card-title {
    margin-top: 8%;
    display: flex;
    justify-content: center;
}

.card-text {
    display: flex;
    justify-content: center;
}

.about-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    margin-left: 6%;
    margin-right: 6%;
}

.space {
    padding: 10px;
    background-color: rgba(0, 255, 21, 0.37);
}

.title {
    font-family: 'Raleway', sans-serif;
}