<br><br><br><br>
<section id="riders">
    <div class="container">
        <h3>Vuoi Diventare un Rider?</h3>
        <p class="lead container">Pensi di essere qualificato per fare il rider? Si? Allora compila questo form, ti risponderemo in prima possibile.</p>
        <form method="post" class="container">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label required">Nome Completo </label>
                <input type="text" class="form-control" id="exampleFormControlInput1" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label required">Indirizzo E-mail </label>
                <input type="email" class="form-control" id="exampleFormControlInput1" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label required">Perché vuoi fare il rider? </label>
                <input type="text" class="form-control" id="exampleFormControlInput1" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label required">Hai giá svolto questo lavoro in passato? </label>
                <input type="text" class="form-control" id="exampleFormControlInput1" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label required">Dove vivi? </label>
                <input type="text" class="form-control" id="exampleFormControlInput1" required>
            </div>
            <input type="submit" class="btn btn-outline-secondary send-btn" style="width: 60px;" value="Invia">
        </form>
    </div>
</section>