<br><br><br><br>
<section id="riders">
    <div class="container">
        <h3>Vuoi Diventare un Rider?</h3>
        <p class="lead container">Pensi di essere qualificato per fare il rider? Si? Allora compila questo form, ti risponderemo in prima possibile.</p>
        <form method="post" class="container">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label required">Nome Completo </label>
                <input type="text" class="form-control" id="exampleFormControlInput1" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label required">Indirizzo E-mail </label>
                <input type="email" class="form-control" id="exampleFormControlInput1" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label required">Perché vuoi fare il rider? </label>
                <input type="text" class="form-control" id="exampleFormControlInput1" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label required">Hai giá svolto questo lavoro in passato? </label>
                <input type="text" class="form-control" id="exampleFormControlInput1" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label required">Dove vivi? </label>
                <input type="text" class="form-control" id="exampleFormControlInput1" required>
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label required"> Inserisci il tuo Curriculum </label><br>
                <label class="btn btn-primary">
                    <i class="fa fa-file"></i> Aggiungi Curriculum<input type="file" class="form-control" style="display: none;" name="image" required>
                </label>
              </div>    
            <input type="submit" class="btn btn-success" value="Invia">
        </form>
    </div>
</section>